<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" style="padding-right: 50px" href="/tasks">Smart-To-Do-List</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <!--    <span class="navbar-toggler-icon"></span> -->
      </button>

      <% if(firstName) { %>
          <span class="text-light" style="padding-right: 900px">Logged in as: <%= firstName %> <%= lastName %></span>
          <form method="GET" action="/user">
            <button type="Submit" class="btn btn-info">Profile</button>
          </form>
          <form method="POST" action="/logout">
              <button type="Submit" class="btn btn-info">Logout</button>
          </form>
          <% } %>
  </nav>
</header>



















<!--header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/login">Smart Todo-List</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if (firstName) { %>
          <div>
            Logged in as:
            <span id="header-firstName"><%= firstName %> </span>
            <span id="header-lastName"><%= lastName %><%= lastName %></span>
          </div>
          <form class="form-inline" action="/user" method="GET">
            <div class="form-group mb-2">
              <button type="submit" class="btn btn-primary">Profile</button>
            </div>
          </form>
          <form class="form-inline" action="/logout" method="POST">
            <div class="form-group mb-2">
              <button type="submit" class="btn btn-primary">Logout</button>
            </div>
          </form>
        <% } %>
      </div>
    </div>
  </nav>
</header-->
